.order {
    background-color: #262626;
    margin-top: -100px;
    position: relative;
    z-index: 0;
    border-radius: 0 0 14px 14px;
    margin-bottom: 80px;

    .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .left {
            width: 676px;
            height: 465px;
            overflow: scroll;
            -ms-overflow-style: none; 
            scrollbar-width: none; 
            padding: 32px;
            padding-top: 52px;
            gap: 32px;
            display: flex;
            flex-direction: column;

            &::-webkit-scrollbar {
              display: none;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                border-bottom: 1px solid #333333;
                padding-bottom: 32px;

                .order-father {
                    background-color: #fff;
                    width: 200px;
                    height: 200px;
                    border-radius: 16px;

                    .order-image {
                        width: 200px;
                        height: 200px;
                        border-radius: 16px;
                    }
                }

                .text {
                    width: 444px;
                    margin-left: 32px;

                    h2 {
                        width: 224px;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0em;
                        color: white;
                    }

                    .color {
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        gap: 16px;
                        color: white;
                        
                        & * {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 17px;
                            letter-spacing: 0em;
                            color: white !important;
                        }

                        hr {
                            height: 14px;
                            border: 1px solid #666666;
                        }

                        span {
                            width: 16px;
                            height: 16px;
                            padding: 8px;
                            background-color:#333;
                            border-radius: 8px;
                        }

                        mark {
                            width: 24px;
                            height: 24px;
                            display: inline-block;
                            border-radius: 50%;
                            box-sizing: content-box;
                            border: 3px solid #262626;
                        }
                    }

                    .card-bottom {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        margin-top: 75px;
                        justify-content: space-between;

                        .narx {
                            width: 135px;
                            background-color: #BFBFBF;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 21px;
                            letter-spacing: 0em;
                            padding: 7px 16px;
                            border-radius: 6px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 8px;

                            span {
                                width: 4px;
                                height: 4px;
                                background-color: black;
                                border-radius: 50%;
                            }
                        }

                        .active {
                            width: 175px;
                            background-color: #F91B1B;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 21px;
                            letter-spacing: 0em;
                            padding: 7px 16px;
                            border-radius: 6px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 8px;
                            
                            & * {
                                color: white !important;
                            }

                            span {
                                width: 4px;
                                height: 4px;
                                background-color: black;
                                border-radius: 50%;
                            }
                        }

                        .add {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            
                            p {
                                color: white;
                            }

                            .minus {
                                padding: 13px 13px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #333;
                                border-radius: 6px;
                                cursor: no-drop;
                                
                                i {
                                    width: 10px;
                                    border: 1px solid #BFBFBF;
                                    display: inline-block;
                                }
                            }

                            .minus-active {
                                padding: 13px 13px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #BFBFBF;
                                border-radius: 6px;
                                cursor: pointer;

                                i {
                                    width: 10px;
                                    border: 1px solid #333;
                                    display: inline-block;
                                }
                            }

                            .plus {
                                width: 57px;
                                height: 28px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 22px;
                                background-color: #BFBFBF;
                                border-radius: 6px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .absalute {
                    position: absolute;
                    top: 0;
                    z-index: 700;
                    right: 0;
                    cursor: pointer;

                    .del {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        right: 10px;
                        gap: 10px;
                        top: 15px;
                        color: #333;
                        padding: 8px;
                        border-radius: 8px 0 8px 8px;
                        background-color: #e46767;
                        
                        img {
                            width: 15px;
                            height: 20px;
                        }
                    }
                }
            }
        }

        .right {
            width: 440px;
            height: 314px;
            margin: 32px;
            padding: 60px;
            margin-top: 52px;
            background-color: #333333;
            border-radius: 20px;

            .narx {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #F5F5F5;

                .jami {
                    width: 135px;
                    background-color: #BFBFBF;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    padding: 7px 16px;
                    border-radius: 6px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 8px;

                    span {
                        width: 4px;
                        height: 4px;
                        background-color: black;
                        border-radius: 50%;
                    }
                }

                hr {
                    height: 16px;
                }

                .soni {
                    width: 32px;
                    height: 32px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(0deg, #262626, #262626);
                    border-radius: 8px;

                }
            }

            .btn {
                display: flex;
                flex-direction: column;
                gap: 12px;

                button {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 0em;
                    padding: 19px;
                    text-transform: uppercase;
                    border: 1px solid #BFBFBF;
                    border-radius: 30px;
                    color: #BFBFBF;
                    background-color: transparent;
                    cursor: pointer;
                }

                .clear {
                    color:#0F0F0F;
                    border: none;
                    background-color: #F1C25F;
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 222px;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 8px;
                font-weight: 700;
                line-height: 11px;
                letter-spacing: 0em;
                color: #BFBFBF;

                hr {
                    width: 94px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 15px 15px 36px;
        border-top: 1px solid #333333;
        
        p {
            color: #808080;
            font-size: 15px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0em;
        }

        button {
            padding: 15px 13px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .bottom-close {
        padding: 31px 15px 15px 36px;

        button {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 360px) {
    .order {
        
        .top {
            flex-direction: column;

            .left {
                width: 100%;
                padding: 10px;
                padding-top: 52px;

                li {
                    align-items: flex-start;
                    min-height: 168px;
                    height: 168px;

                    .order-father {
                        width: 104px;
                        height: 104px;

                        .order-image {
                            width: 104px;
                            height: 104px;
                        }
                    }

                    .text {
                        width: 60%;
                        margin-left: 10px;

                        h2 {
                            width: 169px;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 20px;
                            letter-spacing: 0em;
                        }

                        .card-bottom {
                            position: absolute;
                            bottom: 10px;
                            left: 0;
                        }
                    }
                }
            }

            .right {
                width: 85%;
                height: auto;
                padding: 20px;
                margin: 20px;

                .jami {
                    width: 100px !important;
                    padding: 6px 2px  !important;

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .error_image {
        width: 100%;
        height: auto;
        margin-left: 0 !important;
    }
}