.brand {
    display: flex;
    margin-bottom: 80px;
    align-items: flex-start;
    justify-content: space-between;

    .left {
        width: 435px;

        h2 {
            font-size: 60px;
            font-weight: 600;
            line-height: 86px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
            width: 475px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        button {
            padding: 13px 34px;
            background-color: #F1C25F;
            border-radius: 34px;
            border: none;
            cursor: pointer;
        }
    }

    .right {
        width: 874px;
    }

    .right-media {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .brand {
        flex-direction: column;
        gap: 26px;

        .left {
            width: 300px;
            position: relative;

            h2 {
                font-size: 40px;
                font-weight: 600;
                line-height: 53px;
                letter-spacing: 0em;
                text-align: left;
            }

            button {
                padding: 15px 0 15px 18px;
                position: absolute;
                top: 54px;
                right: -25px;

                img {
                    height: 10px;
                    margin-right: 18px;
                }
            }
        }

        .right {
            display: none;
        }
    
        .right-media {
            display: block;
            width: 330px;
        }
    } 
}