.brand {
    display: flex;
    margin-bottom: 80px;
    align-items: flex-start;
    justify-content: space-between;

    .left {
        width: 435px;

        h2 {
            font-size: 60px;
            font-weight: 600;
            line-height: 86px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
            width: 475px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        button {
            padding: 13px 34px;
            background-color: #F1C25F;
            border-radius: 34px;
            border: none;
            cursor: pointer;
        }
    }

    .right {
        width: 874px;
    }
}