.hero {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 80px;

    .item1, .item4 {
        cursor: pointer;
        background-color: #EBEBEB;
        border-radius: 24px;
        width: 676px;
        height: 250px;
        padding: 11px 68px 0 40px;
        display: flex;
        align-items: flex-end;
        gap: 70px;

        .a {
            margin-bottom: 109px;
        }
    }

    .item2, .item3 {
        cursor: pointer;
        width: 676px;
        height: 344px;
        background-color: #EBEBEB;
        border-radius: 24px;
        padding: 20px 108px 4px 40px;
        display: flex;
        align-items: flex-start;
    }

    .item3 {
        margin-top: -94px;
    }
}

@media screen and (max-width: 360px) {
    .hero {
        margin-bottom: 44px;

        .item1, .item4 {
            width: 100%;
            padding: 0;
            gap: 0;

            .a {
                width: 146px !important;
                margin-top: 20px !important;
                margin-left: 20px !important;
                border-radius: 0 !important;
            }

            img {
                width: 246px;
                margin-left: -90px;
                border-radius: 20px;
            }
        }

        .item4 {
            .a {
                margin-bottom: 140px;
                width: 202px !important;
                height: 82px !important;
            }

            img {
                width: 202px !important;
                height: 170px !important;
            }
        }

        .item2, .item3 {
            width: 100%;
            padding: 0;
            gap: 0;
            margin: 0 !important;

            .a {
                width: 229px !important;
                height: 93px;
                margin-top: 25px !important;
                margin-left: 20px !important;
            }

            img {
                margin-left: -100px;
                width: 184px;
                height: 250px;
                margin-top: 90px;
            }
        }
    }
}