.carousel, .carousel_media {
    background-color: #ccc;
    border-radius: 24px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 80px;

    li {
        display: flex;
        width: 100%;
        background-color: #ccc;
        border-radius: 24px;
        align-items: center;
        justify-content: space-between;
        padding: 30px 10px 0 65px;
        transition: all 1s;
    }

    .left-none {
        position: absolute;
        z-index: -100;
        margin-left: 100%;
    }

    .right-none {
        position: absolute;
        margin-left: -100%;
    }
    
    .active {
        margin: 0; 
    }
}

.carousel_media {
    display: none;
}

.carousel-list {
    width: 100px;
    display: flex;
    margin-top: -18px;
    margin-bottom: 10px;
    height: 10px;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    li {
        border-radius: 10px;
        width: 8px;
        height: 8px;
        background-color: #C0C0BE;
        transition: all 1s;
    }

    .list-active {
        border-radius: 10px;
        width: 40px;
        height: 8px;
        background-color: white;
    }
}

@media screen and (max-width: 360px) {
    .carousel {
        display: none;
    }

    .carousel_media {
        display: flex;
        margin-bottom: 48px !important;

        li {
            position: relative;
            height: 344px;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            
            .yozuv1 {
                width: 300px !important;
                height: 82px !important;
                margin-bottom: -15px;
                margin-left: 20px;
                margin-right: 10px;
            }

            .yozuv2 {
                position: absolute;
                width: 140px;
                height: 48px;
                top: 145px;
                left: 15px;
            }

            img {
                width: 234px;
                height: 240px;
            }
        }
    }
}